#calendar-section{
	padding: 2rem;
}

/* 行事曆標題日期 */
#calendar-title-section{
	padding: 2rem;
	padding-top: 0rem;
}
#calendar-title{
	font-weight: bold;
	font-size: 1.5rem;
	border-left: 4px solid #4B515D;
}
.calendar-date-button{
	line-height: 4rem;
}


/* 行事曆區塊 */
#calendar-setting-section{
	text-align: right;
}

#calendar-table{
	border: 1px solid #E5E8EC;
	background-color: #FFF;
	font-size: 12px;
}
#calendar-table-title th{
	border-top: none;
	text-align: center;
	/*border-right: 1px solid #E5E8EC;
	background-color: #F8F9FA;*/
	background-color: #4B515D;
	color: #FFF;
}

#calendar-table-content td{
	border-right: 1px solid #E5E8EC;
	/*border-top: 3px dashed #E5E8EC;*/
	border-top: 1px solid #E5E8EC;
}

#current-day{
	background-color: #4B515D;
	width: 1.2rem;
	height: 1.2rem;
	line-height: 1.2rem;
	text-align: center;
	color: #FFF;
	border-radius: 50%; 
}


.calendar-item{
	/*
	background-color: #17A2B8;
	color: #FFF;
	*/
	border-radius: 1rem;
	margin-top: 0.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	overflow-x: hidden;
	overflow-y: hidden;
}

#calendar-table-content p{
	padding-top: 0.8rem;

}

/* 右側工作日誌列表 */
#calendar-item-section{
	overflow-x: hidden;
	overflow-y: auto;
}

#calendar-item-section .content-section{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#calendar-item-detail{
	padding-top: 2rem;
	height: 100%;
	overflow-y: auto;
}

/* input */
.date-select-section{
	font-size: 0.8rem;
}
#calendar-date-input{
	width: 150px;
	font-size: 0.8rem;
}

#calendar-time-input{
	width: 120px;
	font-size: 0.8rem;
}