#group-section{
	padding: 2rem;
}
#group-table{
	border: 1px solid #E5E8EC;
}
#group-setting-section{
	text-align: right;
}
#group-table-content .dropdown-toggle::after {
    display:none;
}
#group-table-content td{
	line-height: 54px;
	background-color: #FFF;
}
#group-pagination-section a{
	color: #4B515D;
}

#group-section .pagination {
   justify-content: center;
}