/* 思源黑體 https://www.google.com/get/noto/#sans-hant */
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* lg */
@media screen and (min-width:1200px) {
	body{
		/*font-family: 'Open Sans', 'Noto Sans TC', sans-serif;*/
		font-family: 'Open Sans', '微軟正黑體', sans-serif;
		font-size: 18px;
		color: #4B515D;
	}
}
@media screen and (max-width:1199px) {
  	body{
		font-family: 'Open Sans', '微軟正黑體', sans-serif;
		font-size: 18px;
		color: #4B515D;
	}
}
a{
	color: #4B515D;
}

a:hover{
	color: #0099CC;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto', '微軟正黑體', sans-serif;
	font-weight: bold;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 100%;               
  background-color: #E9ECEF;
  height: 1px;
}

.btn-info{
	background-color: #3F729B;
	border-color: #3F729B;
}


.text-align-right-and-left{
	text-align: justify;
	text-justify:inter-ideograph;
}

/* 側邊導覽列 */
#sidebar-section{
	height: 100vh;
	background: #4B515D;
	color: #FFF;
}


/* user */
@media screen and (min-width:1200px) {
	#user-field-section{
		padding: 2rem;
	}

	#user-field-image-section{
		margin-right: 1rem;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background: #FFF;
		color: #4B515D;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		line-height: 54px;
	}


}
@media screen and (max-width:1199px) {
  	#user-field-section{
		padding-top: 2rem;
		padding-bottom: 2rem;

	}
	#user-field-image-section{
		width: 54px;
		height: 54px;
		border-radius: 50%;
		background: #FFF;
		color: #4B515D;
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		line-height: 54px;
	}

}
#user-field-image-section img{
	border-radius: 50%;
}	

#user-field-text-section h4{
	margin-bottom: 0;
}

/* menu */

@media screen and (min-width:1200px) {
	#menu-section{
		margin-top: 2rem;
		padding: 1rem;
		/*border-left: #E9ECEF;*/
		
	}

	#main-menu-section a{
		/*color: #212121;*/
		/*border-left: 2px solid #FFF;*/
		color: #FFF;
		margin-bottom: 1.2rem;
		padding-left: 1.5rem;
		font-weight: bold;
	}

	#second-menu-section{
		padding: 1rem;
		font-weight: bold;
		color: #FFF;
	}


}
@media screen and (max-width:1199px) {
  	#menu-section{
		margin-top: 2rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
	}
	#main-menu-section{
		width: 100%;
		text-align: center;
	}
	#main-menu-section a{
		color: #212121;
		/*border-left: 2px solid #FFF;*/
		margin-bottom: 1.2rem;
	}

	#second-menu-section{
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
	}
}



#main-menu-section i, #second-menu-section i{
	/*color: #6C757D;*/
	color: #FFF;
}
#main-menu-section a:hover, #second-menu-section a:hover{
	/*color: #0099CC;*/
	border-left: 2px solid #FFF;
}
#main-menu-section .active, #menu-section .active i{
	/*color: #33b5e5;*/
	border-left: 2px solid #FFF;
}
#main-menu-section .active{
	/*border-left: 2px solid #33b5e5;*/
	border-left: 2px solid #FFF;
}


#second-menu-section a{
	/*color: #212121;
	border-left: 2px solid #FFF;*/
	color: #FFF;
	margin-bottom: 1rem;
}

.float-insert-button{
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	font-size: 1.2rem;
	border-radius: 50%;
}

.float-change-button{
	position: fixed;
	right: 6rem;
	bottom: 2rem;
	font-size: 1.2rem;
	border-radius: 50%;
}


/* 主區塊 */

#main-section{
	/*overflow-y: scroll;*/
	overflow-y: auto;
	overflow-x: hidden;
	height: 100vh;
	background-color: #fafafa;
}

/* 麵包屑 */
.breadcrumb{
	font-weight: bold;
}

/* 分頁列 */
.pagination > .page-item > .page-link{
	color: #4B515D;
}

.pagination > .active > .page-link{
	background: #4B515D;
	color: #FFF;
	border-color: #4B515D;
}

.content-section{
	background-color: #FFF;
	border: 1px solid #E5E8EC;
	padding: 2rem;
}

.form-hint{
	padding-left: 2rem; 
	padding-bottom: 2rem; 
}

/* login */
#loginPage{
	/*background-image: url('../image/index.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;*/
	background-color: #4B515D;
	min-height: 100%;  
	min-height: 100vh; 
	color: #FFF;
	/* 垂直置中 
	display: flex;
	align-items: center;*/
}
#loginBox{
	color: #4B515D;
	background-color: #FFF;
	border-radius: 4px;
	padding: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
}
#loginBox input{
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #e0e0e0;
}

/* channel-msg-box */
