#user-section{
	padding: 2rem;
}
#user-table{
	border: 1px solid #E5E8EC;
}
#user-setting-section{
	text-align: right;
}
#user-table-content .dropdown-toggle::after {
    display:none;
}
#user-table-content td{
	line-height: 54px;
	background-color: #FFF;
}


#user-section .pagination {
   justify-content: center;
}

.user-image{
	border-radius: 50%;
}
